<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption center">
				<img class="img-rounded little-down size" src="img/book1.jpg" alt="book1" />
				<p><span class="thumbnail-bold">Name: </span>The lord of the rings</p>
				<p><span class="thumbnail-bold">Price: </span>20$</p>
				<a href="details_book.html">
					<button type="button" class="btn btn-danger">Details</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption center">
				<img class="img-rounded little-down size" src="img/book2.jpg" alt="book2" />
				<p><span class="thumbnail-bold">Name: </span>The green mile</p>
				<p><span class="thumbnail-bold">Price: </span>20$</p>
				<a href="details_book.html">
					<button type="button" class="btn btn-danger">Details</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption center">
				<img class="img-rounded little-down size" src="img/book3.jpg" alt="book3" />
				<p><span class="thumbnail-bold">Name: </span>The Master and Margarita</p>
				<p><span class="thumbnail-bold">Price: </span>20$</p>
				<a href="details_book.html">
					<button type="button" class="btn btn-danger">Details</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption center">
				<img class="img-rounded little-down size" src="img/book1.jpg" alt="book1" />
				<p><span class="thumbnail-bold">Name: </span>The lord of the rings</p>
				<p><span class="thumbnail-bold">Price: </span>20$</p>
				<a href="details_book.html">
					<button type="button" class="btn btn-danger">Details</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption center">
				<img class="img-rounded little-down size" src="img/book2.jpg" alt="book2" />
				<p><span class="thumbnail-bold">Name: </span>The green mile</p>
				<p><span class="thumbnail-bold">Price: </span>20$</p>
				<a href="details_book.html">
					<button type="button" class="btn btn-danger">Details</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<div class="caption center">
				<img class="img-rounded little-down size" src="img/book3.jpg" alt="book3" />
				<p><span class="thumbnail-bold">Name: </span>The Master and Margarita</p>
				<p><span class="thumbnail-bold">Price: </span>20$</p>
				<a href="details_book.html">
					<button type="button" class="btn btn-danger">Details</button>
				</a>
			</div>
		</div>
	</div>
</div>