<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1m" stopProcessing="true">
                    <match url="^index\.php$"  />
                    <action type="Rewrite" url="//en/"  />
                </rule>
                <rule name="rule 2m" stopProcessing="true">
                    <match url="^index_cz\.php$"  />
                    <action type="Rewrite" url="//cz/"  />
                </rule>
                <rule name="rule 3m" stopProcessing="true">
                    <match url="^/en/?$"  ignoreCase="true" />
                    <action type="Rewrite" url="/index.php"  />
                </rule>
                <rule name="rule 4m" stopProcessing="true">
                    <match url="^cz/?$"  ignoreCase="true" />
                    <action type="Rewrite" url="/index_cz.php"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
